---
layout: default
---

<ul class="grid">
{% for _ in site.links %}
    {% assign item_class = 'panel' %}
    {% if _.type != '' %}
        {% assign item_class = item_class | append: ' panel-' | append: _.type %}
    {% endif %}
    {% if _.image %}
        {% assign item_image = _.image | prepend: 'images/items/' | prepend: site.baseurl %}
        {% assign item_class = item_class | append: ' has-image' %}
    {% endif %}
    <li class="grid-item">
        {% if _.image %}
        <figure>
            <a href="{{ _.link }}">
                <img src="{{item_image}}" alt="{{_.title}}">
            </a>
        </figure>
        {% endif %}
        <article class="{{ item_class }}">
            {% if _.type == 'event' %}<span class="category">Event</span>{% endif %}
            <h2><a href="{{ _.link }}">{{ _.title }}</a></h2>
            {{ _.content }}
            {% if _.twitter and _.twitter != '' %}
                <a href="https://twiter.com/{{_.twitter}}" class="link-secondary">@{{_.twitter}}</a>
            {% endif %}
        </article>
    </li>
{% endfor %}
    <li class="item-sizer"></li>
    <li class="gutter-sizer"></li>
</ul>

