<nav class="primary container">
  <ul>
    <li><a href="/"{% if page.url =='/' %} class="active"{% endif %}>Home</a></li>
  {% for _ in site.pages %}
    {% if _.title %}
      <li><a href="{{ _.url | prepend: site.baseurl }}" {% if page.url ==_.url %} class="active"{% endif %}>{{ _.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
<header class="hero">
  <div class="container">
    <div class="inner">
      <h1><a href="/">{{ site.title|replace:'x.i','x<em>.</em>i' }}</a></h1>
      <p class="beta">Yes, it actually happened. Here are some actions you can take and resources to share.</p>
    </div>
  </div>
</header>
