/*
/* Containers */
/*******************/

body {
    background: url('../images/bg-body.jpg') no-repeat right 0px $tan;
    background-size: 100% auto;
    background-attachment: fixed;
    color: $blue-dark;
    @include sofia();
    @include basefont();
}

main {
    @include clearfix;
    padding-top: $masthead-height;
    @include media($xs2m) {
        padding-top: $compact-masthead-height;
    }
}

.container {
    @include outer-container;
    @include clearfix;
}


.hero {
    @include media($m2l) {
        padding-top: 200px;
        .inner {
            @include span-columns(7 of 12);
        }
    }
}

.alpha {
    @include alpha();
}

.beta {
    @include beta();
}

h1 {
    @include alpha();
    margin: 0 0 10px;
    em {
        color: $red;
        font-style: normal;
    }
}

h2 {
    @include beta();
}

img {
    display: block;
    max-width: 100%;
}

.grid {
    @include clearfix;
    position: relative;
    .item {
        background-color: #fff;
        margin-bottom: 2.6455%;
        padding: 25px;
        @include media($s2l) {
            box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.5);
        }

        figure {
            margin: -25px -25px 0 -25px;
        }
    }
    .gutter-sizer {
        width: 2.6455%;
    }
    @include media($m2l) {
        .item,
        .item-sizer {
            @include span-columns(3 of 12);
            @include omega();

        }
    }
    @include media($s2m) {
        .item,
        .item-sizer {
            @include span-columns(4 of 12);
            @include omega();
        }
    }
    @include media($xs2s) {
        .item {
            width: 100%;
            margin-right: 0;
        }
    }
}
