/* Containers */
/*******************/

body {
    background-color: #fff;
    border: 20px solid green;
}

main {
    @include clearfix;
    padding-top: $masthead-height;
    @include media($xs2m) {
        padding-top: $compact-masthead-height;
    }
}

.container {
    @include outer-container;
    @include clearfix;

}

img {
    max-width: 100%;
}

body.template-carers {
    background-color: $grey-pale;
}

@include media(max-width $max-width) {
    .panel.container, .panel .container, .hero .container, footer.global .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
