<!DOCTYPE html>
<html>

  {% include head.html %}

  <body{% if page.page %} class="page-{{page.page}}"{% endif %}>
    {% include header.html %}

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    <script src="//npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="//unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="{{ '/js/init.min.js' | prepend: site.baseurl }}"></script>
  </body>

</html>
